{% extends "shared/layout" %}

{% block title %}Timezone{% endblock title %}

{% block content %}
<div class="row">
    <div class="column">
        <h1>timezone</h1>
    </div>
</div>
{% endblock content %}