{% extends "shared/layout" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
    <div class="column">
        <h1>{{ field }}</h1>
        <h2>test</h2>
    </div>
</div>
{% endblock content %}