<div class="row">
  <div class="column">
    <nav class="navbar">
      <ul>
             <li><a class="{% if origin == '/' %}active{% endif %}" href="/">home</a>
        </li><li><a class="{% if origin == '/timezone' %}active{% endif %}" href="/timezone">timezone</a>
        </li><li><a class="{% if origin == '/formatting' %}active{% endif %}" href="/formatting">formatting</a></li>
      </ul>
    </nav>
  </div>
</div>
