<div class="row">
  <div class="column">
    <nav class="navbar">
      <ul>
        <li class="{% if origin == '/' %}active{% endif %}"><a href="/">home</a></li><li class="{% if origin == '/timezone' %}active{% endif %}"><a href="/timezone">timezone</a></li><li class="{% if origin == '/formatting' %}active{% endif %}"><a href="/formatting">formatting</a></li>
      </ul>
    </nav>
  </div>
</div>
