.form-control input,
.form-control button,
.form-control textarea,
.form-control select {
  background-color: var(--color-branding-text);
  height: 2rem;
  width: 100%;
  min-width: 16rem;
  padding: var(--rem-zero-dot-2) 0 0 var(--rem-zero-dot-2);
  border: 1px solid #ababab;
}

.form-control textarea {
  height: 4rem;
}

.form-control button,
.form-control input[type="submit"] {
  color: var(--color-branding-text);
  background-color: var(--color-branding-background);
  padding: inherit;
  font-weight: bold;
}

.form-control {
  margin-bottom: var(--rem-zero-dot-4);
}

.form-control label,
.form-control-inline .form-label {
  font-weight: bold;
}

.form-control-inline label {
  display: inline-block;
  margin-right: var(--rem-zero-dot-2);
  padding: var(--rem-zero-dot-2) 0 0 var(--rem-zero-dot-2);
}

.form-control-inline input[type="checkbox"],
.form-control-inline input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  min-width: inherit;
}

@media (min-width: 40rem) {
  .form-control input,
  .form-control button,
  .form-control textarea,
  .form-control select {
    width: inherit;
  }
}
