.navbar li {
    display: inline-flex;
}

.navbar li:hover {
    background-color: var(--color-branding-hover);
}

.navbar li.active {
    background-color: var(--color-branding-active-background);
} 

.navbar li a {
    display: block;
    color: var(--color-branding-text);
    text-align: center;
    padding: 1.2rem 1.2rem 1rem 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.2rem;
}

@media (max-width: 20rem) {
    .navbar li {
        display: block;
    }
}
