.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-header-background);
}

.navbar li {
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.navbar li a {
    display: block;
    color: var(--color-header-text);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar li a:hover {
    background-color: var(--color-header-hover);
}

.navbar li a.active {
    font-weight: bold;
    background-color: var(--color-header-active-background);
}