@import "reset.css";
@import "base.css";
@import "layout.css";
@import "navbar.css";
@import "form.css";

:root {
    --color-branding-text: #ffffff;
    --color-branding-background: #5a4799;
    --color-branding-hover: #888888;
    --color-branding-active-background: #869947;
    --rem-zero-dot-2: 0.2rem;
    --rem-zero-dot-4: calc(var(--rem-zero-dot-2) * 2);
}