@import "base.css";
@import "layout.css";
@import "table.css";
@import "navbar.css";

:root {
    --color-header-text: #ffffff;
    --color-header-background: #5a4799;
    --color-header-hover: #888888;
    --color-header-active-background: #5386fe;
    --color-header-active-background: #869947;
}