{% extends "shared/layout" %}

{% block title %}Formatting{% endblock title %}

{% block content %}
<div class="row">
    <div class="column">
        <h1>formatting</h1>
        <div>
            {{origin}}
        </div>
    </div>
</div>
{% endblock content %}